@charset:"UTF-8";

/*--------------------
	common
--------------------*/
body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	font-size:12px;
	line-height: 1.7em;
	overflow: auto;
}
html {
	overflow: auto;
}
* html { /* for IE6 */  overflow: hidden;   overflow-x: auto;   height: 100%;}
body {
	overflow-x: hidden;
	position: relative;
	min-width: 914px; /* overflow時のbackground対処 */
}
* html body { /* for IE6 */   overflow-y: auto;   height: 100%;}
.cf:after {
	content: "";
	clear: both;
	display: block;
}
.fll { float: left; }
.flr { float: right; }
.tbl { display: table; }
.cell { display: table-cell; }
img {vertical-align: middle;}
a { text-decoration:underline; color:#000;}
a:hover { text-decoration:none;}

/*--------------------
	header
--------------------*/

/*--------------------
	content
--------------------*/
#wrap {	opacity:0;}
h1 {
	height:667px;
	width:914px;
	text-indent:-9999px;
	margin:30px auto 10px;
	background: url(../images/index/omote.jpg) center center no-repeat;
}
.btn_maill {
	text-align:center;
	margin:0 0 70px;
}
.btn_maill a {
	width:300px;
	color:#fff;
	font-size:20px;
	letter-spacing:0.02em;
	line-height:65px;
	text-decoration:none;
	text-align:center;
	background:#000;
	display:block;
	margin:0 auto;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

/*--------------------
	footer
--------------------*/
footer {
	width:914px;
	margin:0 auto 20px;
	text-align:center;
}
footer p {
	font-size:12px;
	letter-spacing:0.05em;
}
footer h2 a {
	text-indent:-9999px;
	width:53px;
	height:50px;
	background: url(../images/common/foot_logo.png) center center no-repeat;
	background-size: contain;
	display:block;
	margin:10px auto;
}
