@charset "utf-8";
/*------------------------
　Common
------------------------*/
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {  clear: both;}
.cf {  zoom: 1;}

.clear{	clear:both;}
.left{	float:left;}
.right{	float:right;}
.center{ text-align:center;}
* {-webkit-appearance: none;}
img {	vertical-align:middle;}
a {	
	color: #000000;
	text-decoration:none;
}
a:hover {	text-decoration:underline;}
/* body ----------*/
body {
	font-size:13px;
	line-height:1.6em;
	color:#000;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background:url(../images/common/bg.jpg) repeat left top;
	width:100%;
}

.spnone { display:inline-block;}
.pcnone { display:none;}

/* header ----------*/
header {
	min-width:220px;
	max-height:220px;
	height:auto;
	background:#161616;
	display:table-cell;
	vertical-align:top;
}
header h1 {
	text-align:center;
	margin:35px 0 40px;
}
header h1 img.logo_w {
	width:90px;
}
header nav ul{ margin:0 0 15px 40px;}
header nav li{ margin-bottom:28px;}
header .area_any {
	background:#CCC;
	border:1px solid #999;
	width:200px;
	height:200px;
	margin:0 auto 35px;
}
header .btn_area { margin:0 0 0 45px;}
header .btn_area li {
	margin:0 10px;
	position:relative;
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
header .btn_area li img {
	width:25px;
	padding:6px;
	border:3px solid #fff;
	position:relative;
	vertical-align:top;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
header h1 span ,
header h1 img.logo_b ,
header p.btn_menu ,
header li.btn_txt { display:none;}

/* wrap ----------*/
#wrap {
	width:100%;
	overflow:hidden;
	display:table-cell;
	vertical-align:top;
}
section:not(#mainImg) {
	width:825px;
	margin:0 auto;
}


/* footer ----------*/
footer {
	margin:0 0 40px;
}
footer .footer_bg {
	height:250px;
	text-align:center;
	background:url(../images/common/bg_footer.jpg) no-repeat;
	background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding:30px 0 0 0;
}
footer .footer_bg h2 span {
	display:block;
	font-size:14px;
	font-weight:bold;
	letter-spacing:0.03em;
	color:#fff;
	line-height:1.7em;
	margin:15px 0;
}
footer .footer_bg h2 img { width:70px;}
footer .footer_bg .btn_area img {
	width:405px;
}
footer .area_any {
	background:#fff;
	padding:20px 0;
}
footer .area_any .dammy { text-align:center;}
footer .area_any .dammy li {
	background:#CCC;
	border:1px solid #999;
	width:200px;
	height:200px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
	margin:0 10px;
}
footer .copy_area {
	font-size:10px;
	font-weight:bold;
	text-align:center;
	letter-spacing:0.03em;
	margin:25px 0 15px;
}
footer>h2 {
 width:67px;
 margin:0 auto;
}



@media screen and (max-width: 1140px)
{
footer {
	clear:both;
}
}
@media screen and (max-width: 1060px)
{
}

/* スマホサイズ */
@media screen and (max-width: 640px)
{
.spnone { display:none;}
.pcnone { display:inline-block;}

/* header ----------*/
header {
	min-width:100%;
	max-height:100%;
	display:block;
	margin:0;
	background:inherit;
}
header> h1 {
	width:80%;
	margin:0;
	text-align:left;
	padding:20px 0 20px 5%;
	float:left;
}
header h1 img.logo_w ,
header h1 img.logo_b {	width:8%; vertical-align:top;}
header> h1 img.logo_b {
	display:inline-block;
}
header> h1 img.logo_w ,
header nav .pcnone ,
header .area_any ,
header>.btn_area {	display:none;}
header h1 span {
	display:inline-block;
	font-size:0.9rem;
	line-height:1.5em;
	font-weight:bold;
	margin-left:15px;
}
header .menu_over {
	width:100%;
	background:#000;
	opacity:0.9;
	position:absolute;
	padding:0;
	top:0;
}
header nav .pcnone {
	width: 100%;
	height: 100%;
	text-align:center;
	position: absolute;
	top: 0;
	right: 0;
	z-index:1000;
}
header nav #close {
	position:relative;
	width: 10%;
	float:right;
	padding:20px 5% 20px 0;
	z-index:1000;
	margin-bottom:20px;
}
header nav #close img { width:90%;}
header nav h1 {
	width:80%;
	margin:0;
	text-align:left;
	padding:20px 0 20px 5%;
	float:left;
	position:relative;
	z-index:1000;
}
header nav h1 img.logo_w {
	display:inline-block;
}
header nav h1 img.logo_b {	display:none;}
header nav h1 span {	color:#fff;}
header nav .search_box {
	width:90%;
	margin:35px auto 6%;
	position:relative;
	background: #fff;
	font-size: 0.8em;
	padding:0.5em 0;
	z-index:1000;
}
header nav .search_box input[type="search"] {
	background-color:transparent;
	width:87%;
	border:none;
	font-size:0.8rem;
}
header nav .search_box input[type="submit"] {
	width:1.5rem;
	height:1.5rem;
	background: url("../images/common/btn_search.png") no-repeat center center;
	background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	text-indent:-9999px;
	background-color:transparent;
	border:none;
	cursor:pointer;
}

header nav .pcnone ul:not(.btn_area) {
	width: 100%;
	position:relative;
	margin:0;
	border-top:2px solid #fff;
}
header nav .pcnone ul:not(.btn_area) li:not(.btn_area) {
	border-bottom:1px solid #fff;
	margin:0;
}
header nav .pcnone ul:not(.btn_area) li img {
	width:50%;
	padding:6% 25%;
}
header nav .pcnone ul.btn_area {
	margin:8% auto;
}
header nav .pcnone li.btn_txt {
	font-size:0.8rem;
	color:#fff;
	font-weight:bold;
	letter-spacing:0.03em;
	position:relative;
	padding-right:1em;
	display:inline-block;
}
header nav .pcnone li:not(.btn_txt) {
	position:relative;
	top:-1em;
	margin-right:-0.4em;
}
header nav .pcnone li.btn_txt:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border-top:solid 0.4em transparent;
		border-right:solid 0.6em transparent;
		border-bottom:solid 0.4em transparent;
		border-left:solid 0.8em #fff;
    top: 20%;
    right: -1em;
}

header p.btn_menu {
	display:inline-block;
	width:10%;
	float:right;
	padding:20px 5% 20px 0;
}

section:not(#mainImg) {
	float:none;
	width:100%;
	min-width:100% !important;
}
/* footer ----------*/
footer {
	margin:0 0 10%;
}
footer .footer_bg {
	height:auto;
	padding:6% 0 0 0;
}
footer .footer_bg h2 span {
	font-size:0.8rem;
	margin:4% 0;
}
footer .footer_bg h2 img { width:15%;}
footer .footer_bg .btn_area img {	width:90%;}
footer .footer_bg ul {
	width:100%;
	margin:5% auto 0;
	padding-bottom:7%;
}
footer .footer_bg li {
	display:inline-block;
	*display: inline;
	*zoom: 1;
	margin-right:-1.5em;
}
footer .footer_bg li.btn_txt {
	font-size:0.8rem;
	color:#fff;
	font-weight:bold;
	letter-spacing:0.03em;
	position:relative;
	margin-right:4%;
}
footer .footer_bg li.btn_txt:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border-top:solid 0.4em transparent;
		border-right:solid 0.6em transparent;
		border-bottom:solid 0.4em transparent;
		border-left:solid 0.8em #fff;
    top: 20%;
    right: -2em;
}

footer .footer_bg li img {
	width:40%;
	padding:7%;
	border:4px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
footer .area_any {
	background:#fff;
	padding:20px 0;
}
footer .area_any .dammy { display:none;}
footer .copy_area {
	font-size:0.7rem;
	margin:5% 0;
}
footer>h2 { width:14%;}
}
@media screen and (max-width: 520px)
{
header h1 img.logo_b {	width:10%; vertical-align:top;}
header h1 span {
	display:inline-block;
	font-size:0.6rem;
}

/* footer ----------*/
footer .footer_bg h2 span {	font-size:0.6rem;}
footer .footer_bg li.btn_txt {	font-size:0.7rem;}
footer .footer_bg li img {
	width:30%;
	padding:7%;
}
footer .copy_area {	font-size:0.5rem;}
}
