@charset "utf-8";

/* mainImg ----------*/
#mainImg { width:100%; height:2000px; overflow:hidden; position:relative; z-index:50; background:#dededc; }
#mainImg ul { width:100%; position:absolute; }
#mainImg ul li { width:100%; background-size:cover; background-position:center center; }
#leftImg { top:0; }
#rightImg { bottom:0; right:-50%; overflow:hidden; }
#rightImg li { margin-left:-50%; }
#mainImg h2 {
	width:100%;
	position:absolute;
	text-align:center;
	top:30%;
}
#mainImg h2 img {	width:184px;}

/* main_visual ----------*/
.main_visual {
	text-align:center;
}
.main_visual h3 { margin:35px 0 25px;}
.main_visual .btn_augaine a {
	width:395px;
	height:50px;
	line-height:45px;
	display:block;
	margin:0 auto;
	position:relative;
}
.main_visual .btn_augaine span.btn_before {
	border:2px solid #bda136;
	width:400px;
	height:50px;
	display:block;
	position:absolute;
	left:-4px;
	top:-6px;
}
.main_visual .btn_augaine span.btn_after {
	border:2px solid #bda136;
	width:400px;
	height:50px;
	display:block;
	position:absolute;
	left:3px;
	top:2px;
}
.main_visual .btn_augaine img { width:148px;}
.main_visual .btn_arrow {	margin:40px 0 0;}
.main_visual .btn_arrow a {	height:45px; display:inline-block; position:relative;}
.main_visual .btn_arrow a img { position:relative;}

/* リスト ----------*/
.area_otumami {
}
.area_otumami h3 ,
.area_mame h3 {
	font-weight:bold;
	font-size:18px;
	letter-spacing:0.05em;
	margin:0 0 15px 2px;
}
.area_otumami h3 img ,
.area_mame h3 img {
	width:30px;
	margin-right:14px;
}
section:not(#mainImg) {	width:1280px;}
.area_otumami li ,
.area_mame li {
	width:400px;
	background:#000000;
	margin-left:10px;
	margin-right:10px;
	position:relative;
	vertical-align:top;
	display:inline-block;
	*display: inline;
	*zoom: 1;
	margin-bottom:20px;
	cursor:pointer;
}
.area_otumami li:first-child ,
.area_otumami li:nth-child(3n+1) ,
.area_mame li:first-child,
.area_mame li:nth-child(3n+1) { margin-left:0;}
.area_otumami li:nth-child(3n) ,
.area_mame li:nth-child(3n) { margin-right:0;}
.area_otumami li:nth-child(even) ,
.area_mame li:nth-child(even) {
	float:none;
}
.area_otumami li>div:not(.over_area) ,
.area_mame li>div:not(.over_area) {
	background:#000000;
	position:relative;
	overflow:hidden;
	padding-bottom:15px;
}
.area_otumami li>p ,
.area_mame li>p { display:none;}
.area_otumami .over_area ,
.area_mame .over_area {
	width:100%;
	text-align:center;
	background:#b19121;
	position:absolute;
	left:0;
	top:0;
}
.area_otumami .over_area p ,
.area_mame .over_area p {
	position:relative;
	top:100%;
}
.area_otumami .ico_recipe {
	width:70px;
	position:absolute;
	left:0;
	top:0;
}
.area_otumami li a ,
.area_mame li a {
	width:360px;
	height:130px;
	background-repeat:no-repeat;
	background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	display:block;
	margin:20px 20px 10px 20px;
}
.area_otumami h4 {
	width:360px;
	line-height:2.4em;
	margin: 0 20px 0;
}
.area_otumami h4 span {
	background:#fff;
	font-size:15px;
	padding:5px 10px;
	font-weight:bold;
	margin-right:10px;
}
.area_otumami h4 img {
}
.area_mame h4 {
	width:340px;
	background:#fff;
	font-size:15px;
	font-weight:bold;
	padding:5px 10px;
	line-height:1.6em;
	margin: 0 20px 0;
}
.area_otumami img[alt="+"] {
	width:16px;
	margin-right:10px;
}
.area_otumami img[alt="=augaine"] {
	width:150px;
	margin-right:10px;
}
.area_otumami .btn_area ,
.area_mame .btn_area {
	text-align:center;
	margin:20px 0 70px;
}
.area_otumami .btn_area img ,
.area_mame .btn_area img { width:405px;}

@media screen and (max-width: 1520px)
{
.area_otumami li ,
.area_mame li {
	width:400px;
	background:#000000;
	position:relative;
	float:left;
	margin-left:0;
	margin-right:0;
	margin-bottom:20px;
	cursor:pointer;
}
.area_otumami li>div:not(.over_area) ,
.area_mame li>div:not(.over_area) {
	background:#000000;
	position:relative;
	overflow:hidden;
	padding-bottom:15px;
}
.area_otumami li>p ,
.area_mame li>p { display:none;}
.area_otumami li:nth-child(even) ,
.area_mame li:nth-child(even) {
	float:right;
}
section:not(#mainImg) {
	width:825px;
}
}
@media screen and (max-width: 1060px)
{
section:not(#mainImg) {
	width:100% !important;
	min-width:801px;
}
}
@media screen and (max-width: 1024px)
{
}
@media screen and (max-width: 640px)
{
/* mainImg ----------*/
#mainImg h2 img {	width:35%;}
/* main_visual ----------*/
.main_visual h3 { margin:5% 0 10%;}
.main_visual h3 img { width:60%;}
.main_visual .btn_augaine a {
	width:85%;
	height:2em;
	line-height:2em;
	margin:0 auto 20%;
}
.main_visual .btn_augaine span.btn_before {
	width:100%;
	height:4em;
	left:0 !important;
	top:-1.2em !important;
}
.main_visual .btn_augaine span.btn_after {
	width:100%;
	height:4em;
	left:0.5em !important;
	top:-0.7em !important;
}
.main_visual .btn_arrow { display:none;}

/*---リスト---*/
.area_otumami h3 ,
.area_mame h3 {
	font-size:1.3rem;
	margin:0 0 15px 5%;
}
.area_otumami h3 img ,
.area_mame h3 img {
	width:auto;
	height:1em;
	vertical-align:top;
	margin-right:3%;
}
.area_otumami li ,
.area_mame li {
	width:100%;
	float:none;
	padding:0;
}
.area_otumami li>div ,
.area_mame li>div {
	background:#000000;
	position:relative;
	overflow:hidden;
	padding:1.5em 0 1.2em;
}
.area_otumami li:nth-child(even) ,
.area_mame li:nth-child(even) {
	float:none;
}
.area_otumami li>p ,
.area_mame li>p {
	display:block;
	width:100%;
	position:absolute;
	bottom:-3em;
	left:0;
	text-align:center;
}
.area_otumami li>p img ,.area_mame li>p img { width:70%;}
.area_otumami .over_area ,
.area_mame .over_area { display:none;}
.area_otumami .ico_recipe {	width:14%;}
.area_otumami li a ,
.area_mame li a {
	width:90%;
	height:10em;
	display:block;
	margin:0 5% 4.5%;
}
.area_otumami h4 {
	width:90%;
	margin:0 5%;
}
.area_otumami h4 span {
	background:#fff;
	font-size:0.9rem;
	padding:0.5em 2.5%;
	font-weight:bold;
	margin-right:0.5em;
}
.area_mame h4 {
	width:85%;
	background:#fff;
	font-size:0.9rem;
	font-weight:bold;
	padding:0.5em 2.5%;
	line-height:1.6em;
	margin: 0 5%;
}
.area_otumami img[alt="+"] {
	width:auto;
	height:1em;
	margin-right:0.5em;
}
.area_otumami img[alt="=augaine"] {
	width:auto;
	height:1.5em;
	margin-right:0.5em;
}
.area_otumami .btn_area ,
.area_mame .btn_area {
	text-align:center;
	margin:4% 0 16%;
}
.area_otumami .btn_area img ,
.area_mame .btn_area img { width:88%;}



}
@media screen and (max-width: 520px)
{
/* main_visual ----------*/
.main_visual .btn_augaine a img {	width:35%;}
.area_otumami h3 ,
.area_mame h3 {	font-size:1rem;}




}
